@import "~react-image-gallery/styles/css/image-gallery.css";
/* Custom CSS */
.image-gallery-play-button,
.image-gallery-fullscreen-button   {
  display: none !important; 
}

.image-section {
  display: flex;
  width: 95vw;
  margin: 2% auto;
  border: solid 2px red;
}

.image-col-1 {
  width: 40%;
  border: solid 2px green;
}

.image-col-2 {
  width: 60%;
  border: solid 2px purple;
}

/* Default Styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
